page-home {

    .back{
        background-color: lightgray;
    }

    .nrw{
        max-width: 600px;
        margin: 0 auto;
    }

    ion-card-content{
        text-align: center;
    }
    
    .logBtn {
        min-width: 80px;
    }

}
